* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  background-color: black;
}

:root {
  --primary-color: rgb(29, 155, 240);
  --primary-color-hover: rgb(57, 176, 255);
  --white: #ffffff;
  --hover-background: rgb(41, 41, 41);
  --border-color: rgb(41, 41, 41);
}
a {
  cursor: pointer;
  text-decoration: none;
}

.app-container {
  display: flex;
  flex-flow: column nowrap;
}

/* Scrollbar Styles */
.feed {
  background-color: black;
  color: white;
  height: 90vh;
  overflow: auto;
  order: 2;

  /* For Firefox */

}

/* Webkit Scrollbar Styles (Chrome, Edge, Safari) */
.feed::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.feed::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

.feed::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); /* Thumb color */
  border-radius: 4px; /* Rounded corners */
  border: 2px solid black; /* Adds spacing around the thumb */
  transition: background-color 0.3s ease; /* Smooth color change on hover */
}

.feed::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5); /* Thumb color on hover */
}

/* For Modern Browsers (Override Edge issues if needed) */
@supports (-webkit-overflow-scrolling: touch) {
  .feed {
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile/webkit browsers */
  }
}


.navbar {
  order: 3;
  position: sticky;
  bottom: 0px;
}

.discover {
  display: none;
}

.profile-picture {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.username {
  color: grey;
}

@media (min-width: 768px) {
  .app-container {
    flex-flow: row;
  }

  .feed {
    height: 90vh;
    overflow: auto;
    width: 70%;
  }

  .navbar {
    order: 1;
    position: sticky;
    top: 0;
    width: 20%;
  }
}

@media (min-width: 900px) {
  .feed {
    height: 90vh;
    overflow: none;
    width: 50%;
  }

  .navbar {
    order: 1;
    position: sticky;
    top: 0;
    width: 15%;
  }
  .discover {
    display: flex;
    order: 3;
    background-color: black;
    width: 35%;
    padding: 0 1rem;
  }
}

@media (min-width: 1200px) {
  .feed {
    height: 120vh;
    overflow: auto;
    width: 50%;
  }

  .navbar {
    order: 1;
    position: sticky;
    top: 0;
    width: 20%;
  }
  .discover {
    display: flex;
    order: 3;
    background-color: black;
    width: 30%;
    padding: 0 1.5rem;
  }
}
